# Enviroment
NODE_ENV=development

# Postgres Docker Dev Database
DB_USER=gridman
DB_NAME=teslo-shop-dev
DB_PASSWORD=153624

# Prisma Database URL
DATABASE_URL="postgresql://gridman:153624@localhost:5432/teslo-shop-dev?schema=public"


# Open SSL Auth Secret
AUTH_SECRET=secret

# PayPal - https://developer.paypal.com/dashboard/applications/edit/SB:QWY2WUp2RHg2d3BDZ2cxX1VOVGt3NW5Xc1hTejRPdFN0UVNSbWEta29YSHpvcnNyNmFCc3RJM0xWOEhZVmtfR19OdHRyeUFfYlhXN0FqTkQ=
NEXT_PUBLIC_PAYPAL_CLIENT_ID=cliend-id
PAYPAL_SECRET=secret
# POST
PAYPAL_OAUTH_URL=https://api-m.sandbox.paypal.com/v1/oauth2/token
#GET
PAYPAL_ORDERS_URL=https://api.sandbox.paypal.com/v2/checkout/orders
